# Настройки клиентской части приложения
VITE_API_URL=http://localhost:3000
# Текущая версия приложения (используется для отображения в интерфейсе)
VITE_APP_VERSION=0.0.3.4
# Включить возможность авторизации через Telegram
VITE_TELEGRAM_AUTH_ENABLED=true
VITE_APP_NAME=SecretPlace.su

# Настройки разработки
NODE_ENV=development 