# Конфигурация базы данных
DB_HOST=localhost
DB_USER=username
DB_PASSWORD=password
DB_NAME=secretplace
DB_PORT=3306

# Названия таблиц
TABLE_NEWS=sp_news
TABLE_CONFIG=sp_config
TABLE_USERS=sp_users
TABLE_TELEGRAM_AUTH=easyauth_telegram

# Конфигурация сервера
PORT=3001
NODE_ENV=development

# Токен бота Telegram
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_BOT_USERNAME=YOUR_BOT_USERNAME
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
SERVER_URL=https://yourdomain.com 